@model IEnumerable<Practice.Models.EmployeeViewData>
@{
    ViewBag.Title = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of data</h2>
        </div>
        <div class="col-6 text-right">
            <a href="#" class="btn btn-primary" onclick="AddEditEmployee(0)">Create New</a>
            @* @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary"}) *@
        </div>
    </div>
    <br><br>
    @if (Model != null)
    {
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Address
                </th>
                <th>
                    DepartmentId
                </th>
                <th>
                    DepartmentName
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @* <a href="/Test/EmployeeDetail?employeeId=@item.EmployeeId"> @item.Name</a> *@
                        @Html.ActionLink(item.Name, "EmployeeDetail", new {employeeId = item.EmployeeId})
                    </td>

                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.DepartmentId
                    </td>
                    <td>
                        @item.DepartmentName
                    </td>

                    <td>
                        <a href="#" class="btn btn-success" onclick="ShowEmployee(@item.EmployeeId)">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        <a href="#" class="btn btn-primary" onclick="AddEditEmployee(@item.EmployeeId)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        @* @Html.ActionLink("Delete","Delete", new {employeeId= item.EmployeeId}, new {@class="glyphicon glyphicon-remove"}) *@
                        <a href="#" class="btn btn-danger" onclick="DeleteEmployee(@item.EmployeeId)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>


                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h2>No application type exists</h2>
    }
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Details of the Employee</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv">


            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-default" data-dismiss="modal">Cancel</a>

            </div>

        </div>

    </div>

</div>


<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body" id="myModalBodyDiv1">


            </div>


        </div>

    </div>

</div>
<div>
    <input type="hidden" id="hiddenEmployeeId"/>


</div>

<script>
   
   
   
       var ShowEmployee= function(employeeId){
       
           var url="/Test/EmployeeDetail?EmployeeId="+employeeId;
   
           $("#myModalBodyDiv").load(url,function(){
               $("#myModal").modal("show");
           
           })
   
 
       }
       
           var AddEditEmployee=function(employeeId){
           
               var url="/Test/AddEditEmployee?EmployeeId="+employeeId;
       
               $("#myModalBodyDiv1").load(url,function(){
                   $("#myModal1").modal("show");
               
               })
       
           }
           var DeleteEmployee = function (employeeId) {
            
                 


                   
            
                    $.ajax({
            
                        type: "POST",
                        url: "/Test/Delete?employeeId="+employeeId,
                      
                        success: function (response) {
               
                            alert(response.success);
                            window.location.href = "/Test/Index";
                        }
            
                    })

}

</script>